<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agência</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/publico/css/visu1.css">
    <link rel="stylesheet" href="/publico/css/home.css">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"> <strong class="sena"><i>SENA</i></strong><strong><i>BANK</i></strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto container-fluid justify-content-end">
                    <li class="nav-item ">
                        <a class="nav-link" href="/home">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/cadastro">Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/dados">Dados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/squad">Squad</a>
                    </li>
                </ul>
                <a href="/busca"><button type="submit" style="width: 94px;
    height: 37px;" class="btn btn-warning">Pesquisar</button></a>
                </form>
            </div>
        </nav>
    </header>

    <div class="clientes">
        <h1>Agência</h1>
        <h3>{{listarAge.id_da_agencia}}</h3>

        <div class="card" style="width: 28rem;">
            <div class="card-body">
                <h5 class="card-title">Endereço:</h5>
                <p class="card-text"> {{listarAge.endereco}}</p>
                <h5 class="card-title">Email:</h5>
                <p class="card-text">{{listarAge.email}}</p>
                <h5 class="card-title">Telefone:</h5>
                <p class="card-text">{{listarAge.telefone}}</p>

                <a href="/age/editA/{{listarAge.id_da_agencia}}"><button type="button" class="btn btn-outline-warning">
                        <strong>Editar</strong></button></a>
                <button type="button" class="btn btn-outline-warning"><a
                        href="/age/remove/{{listarAge.id_da_agencia}}"><strong>Excluir</strong></a></button>

            </div>
        </div>
    </div>

</body>

</html>