<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Editar Clientes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/publico/css/edit.css">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"> <strong class="sena"><i>SENA</i></strong><strong><i>BANK</i></strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto container-fluid justify-content-end">
          <li class="nav-item ">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/cadastro">Cadastrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/dados">Dados</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/squad">Squad </a>
          </li>
        </ul>
        <a href="/busca"><button type="submit" style="width: 94px;
    height: 37px;" class="btn btn-warning">Pesquisar</button></a>
        </form>
      </div>
    </nav>
  </header>


  <div class="form">
    <div class="margem">
      <h1>Editar cliente</h1>
      <form action="/clie/updateclie" method="post">
        <div class="form-group">
          <input class="form-control" type="hidden" name="id_do_cliente" id="id_do_cliente"
            value="{{clie.id_do_cliente}}">
        </div>

        <div class="form-group">
          <label for="exampleInputCpf1">Nome:</label>
          <input type="text" class="form-control" name="nome_cliente" placeholder="Digite o nome do cliente"
            value="{{clie.nome_cliente}}">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">CPF:</label>
          <input class="form-control" name="cpf" placeholder="Digite o cpf do cliente" value="{{clie.cpf}}">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Email:</label>
          <input class="form-control" name="email" placeholder="Digite o email do cliente" value="{{clie.email}}">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Telefone:</label>
          <input class="form-control" name="telefone" placeholder="Digite o telefone do cliente"
            value="{{clie.telefone}}">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Endereço:</label>
          <input class="form-control" name="endereco_cliente" placeholder="Digite o endereço do cliente"
            value="{{clie.endereco_cliente}}">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">ID do empréstimo:</label>
          <input class="form-control" name="id_do_emprestimo" placeholder="Digite o id do empréstimo"
            value="{{clie.id_do_emprestimo}}">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Numero do cartão:</label>
          <input class="form-control" name="numero_do_cartao" placeholder="Digite o id do cartão"
            value="{{clie.numero_do_cartao}}">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Agencia:</label>
          <input class="form-control" name="id_da_agencia" placeholder="Digite a sua agência"
            value="{{clie.id_da_agencia}}">
        </div>

        <div class="form-group">
          <button type="submit" value="Editar" class="btn btn-warning">Editar</button>
        </div>

      </form>
    </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>


</body>

</html>